 body{
     position: center;
     margin: 0.9%;
     border: solid;
     border-radius: 2%;
     background: aliceblue;
 }
 h1{
     text-align: center;
     text-decoration: black;
     font-weight: bold;
 }
 label{
     display: block;



 }
